$color-primary-dark: #072481; // Dark blue
$color-primary-light:#183baf; // light blue
$color-grey-dark: #777;
$color-pink-dark: #f1425d;
$color-green:  rgba(7, 241, 7, 0.63);
$color-beige-light:#fdfdfd;
$color-white:#FFFFFF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    $color:$color-beige-light;
}

.header{
    height: 60vh;
    background-image:linear-gradient(
        to right,
    rgba($color-primary-dark , 0.8),
    rgba($color-primary-light , 0.8)),
    url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    
    position: relative;

    clip-path: ellipse(100% 57% at 51% 35%);

    z-index: 1;
}
 
/*header navbar*/

.navContainer{
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.navBar{
    padding: 4px;
    margin: 0px;
    font-size: 13px;

    li {
        display:inline-block;
        font-size: 14px;
        color: $color-white;
        padding: 6px;
    }

    li a{
        font-size: 14px;
        color: white;
        padding: 6px;
        text-decoration: none
    }
}

.logo {
    width:90px;
    height:90px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
    width:65px;
    height:50px;
    padding-left: 24px;
    }

    h1{
    color: $color-white;
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
    text-align: center
    }

}

.userBar{
    padding: 4px;
    margin: 0px;
    text-decoration: none;
    width: 20%;
  
    button{
        float: center;
        font-size: 12px;
        width: 70px;
        color:$color-white;
        background-color: transparent;
        padding: 1px;
        border: 0.5px solid;
        border-radius: 40px;
    } 

    button:hover{
        background-color: $color-beige-light;
        color: $color-primary-dark;
    }

}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: white;

    button {
        font-size: 14px;
        width: 160px;
        height: 35px;
        color:$color-white;
        background-color: $color-green;
        padding: 2px;
        border: 0.1px solid;
        border-radius: 40px;
    }
    
    button:hover{
        background-color: $color-beige-light;
        color: $color-primary-dark;
    }
}

.imgRow{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-beige-light;

    img{
        height: 600px;
        margin-top: -145px;
        z-index: 2;
    }
}
.productsRow{
    background-color: $color-beige-light;
    justify-content:space-between;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
    background-color: $color-white;
    margin-left: 10px;
    margin-bottom: 45px;
    border: 0.1px solid;
    border-radius: 10px;
    z-index: 1;
        &:first-child{
            margin-left: 190px;
        }
        &:last-child{
            margin-right: 190px;
        }
    img{
        width: 90px;
        z-index: -1;
        margin-top: -40px;
    }
    button {
        font-size: 14px;
        width: 160px;
        height: 35px;
        color:$color-white;
        background-color: $color-green;
        padding: 2px;
        border: 0.1px solid;
        border-radius: 40px;
        margin-bottom: 30px;
    }
    
    button:hover{
        background-color: $color-beige-light;
        color: $color-primary-dark;
    }
}

.registerRow{
    background-color: rgba(224, 243, 241, 0.904);
    justify-content: space-between;
    height: 190px;


    h4{
    margin: 12px;
    margin-left: 80px;
    }

    h6{
    margin: 12px;
    margin-left: 80px;
    }

    form{
    margin: 12px;
    margin-left: 80px;
    }

    input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
    }

    button {
    font-size: 14px;
    height: 30px;
    color:$color-white;
    background-color: $color-green;
    padding-right: 16px;
    padding-left: 16px;
    border: 0.1px solid;
    border-radius: 40px;
    margin: 12px;
    }

}

.processingRow{
    background-color:$color-white;
    justify-items: center;

    img{
        height: 180px;
    }
       
    
}

.subscriptionRow{
    background-color:$color-primary-dark;
    color:$color-white;
    height: 150px;

    button {
    font-size: 14px;
    height: 30px;
    color:$color-white;
    background-color: $color-green;
    padding-right: 8px;
    padding-left: 8px;
    border: 0.1px solid;
    border-radius: 40px;
    margin-top: 60px;
    }

    h4{
        display: flex;
        flex-direction: column;
        margin: 12px;
        margin-left: 80px;
    }
    h6{
        display: flex;
        flex-direction: column;
        margin: 12px;
        margin-left: 80px;
    }
 
}

.footerRow{
    background-color:$color-green;
    color:$color-white;
    height: 200px;

    h4{
        margin: 12px;
        margin-left: 80px;
        }
    
        h6{
        margin: 12px;
        margin-left: 80px;
        }
    
        form{
        margin: 12px;
        margin-left: 80px;
        }

    input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    }

    button {
    font-size: 14px;
    height: 30px;
    color:$color-white;
    background-color: $color-white;
    padding-right: 16px;
    padding-left: 16px;
    border: 0.1px solid;
    border-radius: 40px;
    margin: 12px;

    }

    img{
        margin: 40px;
        height: 120px;
        align-items: center;
        justify-content: center;
    
    }
}